/problema1/problema1/nbproject/private/
/problema1/problema1/build/
/problema4/problema4/nbproject/private/
/problema4/problema4/build/
/problema4/Problema2/nbproject/private/
/problema4/Problema2/build/
/problema3/Problema3/nbproject/private/
/problema4/Problema2/dist/
/problema3/Problema3/build/